---
const {namae,imgsrc,role,uuid} = Astro.props;
---

<div class="group flex flex-col p-8 items-center border border-gray-300 transition ease-in-out rounded-lg hover:shadow-lg hover:cursor-pointer">
    <img class="w-64" src={imgsrc} alt="">
    <p class="text-xl mt-4 group-hover:text-red-500">{namae}</p>
</div>