---
import Icon from "astro-icon";
---

<div class="bg-white text-center p-8">
    &copy; <b>ValShow</b>. All Rights Reserved. <br>
    ValShow is a non-official Application and is not endorsed by Riot Games in any way.
    Riot Games, Valorant, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.
</div>