---
import {Icon} from 'astro-icon'
---

<div class="flex gap-10 p-4 border border-b-2 items-center justify-between">
    <a class="flex items-center" href="/"><Icon class="w-8" name="majesticons:home-line"/></a>
    <p class="text-xl font-bold">Valorant Agent Showcase</p>
</div>